/* GENERELLE INDSTILLINGER */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: '', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}


img {
    width: 100%;
}



/* GENEREL GRID */
/*
.splash {
    grid-area: splash;
}

.splash {
    grid-area: kolonne;
}


.footer {
    grid-area: kolonne;
}

.sectionwrapper_general {
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "splash"
        "kolonne"
        "kolonne"
        "footer";

}*/


/* GENEREL GRID SLUT */

/* GENERELLE INDSTILLINGER SLUT */

/* NAV MENU */
















/* NAV MENU SLUT */


/* LANDINGPAGE */


























/* LANDINGPAGE SLUT */

/* FOOTER Responsiv*/


.padding {
    padding: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    position: fixed;

    bottom: 0;
    color: white;
    background-color: #BED2D0;
    width: 100vw;
    font-size: 1rem;
}


#opdate {
    flex-basis: 350px;
    flex-grow: 3;
    text-decoration: none;
    padding-left: 20px;
}

#opdate h4 {
    font-size: 1.2rem;
}

.nyhed_button {
    background-color: #FDF8ED;
    color: #375151;

    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}


#opdate.fa {

    font-size: 50px;
    width: 30px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
    padding: 20px;
    margin: 5px 2px;


}

.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 50%;
    padding: 20px;
    margin: 5px 2px;

}





.menu_footer {
    flex-basis: 350px;
    flex-grow: 3;
    text-decoration: none;
}

.menu_footer a {
    text-decoration: none;
    color: white;
}


.kontakt {
    flex-basis: 350px;
    flex-grow: 3;
    text-decoration: none;
    line-height: 1.5rem;
}


.adresse {
    flex-grow: 3;
    text-align: center;
    background-color: #F8F8F8;
    color: #707070;
}















/* FOOTER SLUT */
