/* GENERELLE INDSTILLINGER */
* {
    box-sizing: border-box;
}


/* html definerer at det gælder for hele siden, så footeren sætter sig i bunden */
html,
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}


img {
    width: 100%;
    margin: 0;
    object-fit: cover;
}











.andet a {
    text-decoration: none;
    color: #375151;
}




















/********************* FOOTER Responsiv **********************/

.footer {
    background-color: #BED2D0;
    color: white;
    height: 500px;
    position: relative;
    bottom: 0px;
    padding: 20px 20px 20px 10px;
}

/* reglen gælder for hele footeren */
.footer .footer_content .opdateret .andet .kontakt {
    /* height: 250px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}



.footer .footer_content h4 {
    color: #375151;
    font-size: 1.3em;
    margin: 15px;

}



/* reglen gælder for sociale medier */
.footer .footer_content .opdateret .socialemedier img {

    margin: 15px 0px 0px 10px;
    width: 30px;
    justify-content: space-between;

}


/* reglen gælder for vores tilmeld nyhedsbrev */
.footer .footer_content .opdateret .knap {
    background-color: #FDF8ED;
    border: none;
    color: #375151;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 15px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: Quicksand;
    font-weight: 500;
}



/* reglen gælder for copy right bjælken */
.footer .footer_bottom {
    background-color: #F8F8F8;
    color: #707070;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 5px;

}

.footer a {
    font-weight: 500;
    line-height: 25px;
}

.kontakt p {
    color: #375151;
    margin-left: 15px;
}

.email {
    display: inline-block;
    width: 40px;
    height: 70px;
    margin-left: 15px;
    padding-top: 50px;
    margin-top: -80px;
    margin-bottom: -5px;
}




/* FOOTER SLUT */


@media only screen and (min-width: 768px) {
    .email {
        display: inline-block;
        width: 40px;
        height: 70px;
        margin-left: 15px;
        padding-top: 50px;
        margin-top: -55px;
        margin-bottom: -5px;
    }


}




/****************** MEDIA QUERIES **********************/

@media only screen and (min-width: 1024px) {


    .footer {
        background-color: #BED2D0;
        color: white;
        height: 330px;
        position: relative;
        padding: 5px 70px;
    }



    .footer .footer_content {
        display: flex;
    }

    .footer .footer_content h4 {
        color: #375151;
    }


    /* reglen gælder for sociale medier */
    .footer .footer_content .opdateret .socialemedier img {
        width: 30px;
        justify-content: space-around;
        margin: 25px 0 0 10px;
    }

    /* reglen gælder for vores tilmeld nyhedsbrev */
    .footer .footer_content .opdateret .knap {
        background-color: #FDF8ED;
        border: none;
        color: #375151;
        padding: 20px 30px;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        margin-left: 15px;
        font-family: Quicksand;
        font-weight: 500;
    }


    /* reglen gælder for hele footeren */
    .footer .footer_content .footer-section {
        flex: 1;
        padding: 40px;

    }

    /* reglen gælder for copy right bjælken */
    .footer .footer_bottom {
        background-color: #F8F8F8;
        color: #707070;
        height: 50px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-top: 15px;

    }

    .footer a {
        font-weight: 500;
        line-height: 25px;
    }

    .kontakt p {
        color: #375151;
        margin-left: 15px;
    }

    .email {
        display: inline-block;
        margin-top: 0px;
        width: 40px;
        height: 35px;
        padding: 0px 0px 2px 5px;
    }


    /* FOOTER SLUT */
}
