/* GENERELLE INDSTILLINGER */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: '', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}


img {
    width: 100%;
    margin: 0;
    object-fit: cover;
}


/* GENERELLE INDSTILLINER */

#process_fullpage,
#skaberhjem_fullpage,
#stiftedeforeninger_fullpage h1 {
    font-size: 2rem;
    color: #375151;
    margin-bottom: 1vw;

}


#process_fullpage,
#skaberhjem_fullpage,
#stiftedeforeninger_fullpage h2 {
    font-size: 1.4rem;
    color: #375151;
}

p {
    font-size: 0.8rem;
    color: #414141;
    line-height: 20px;
}


#splash {
    width: 100%;
    height: 33vh;
    background-image: url(sky.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: splash;

}


/* GENERELLE INDSTILLINGER SLUT */


/************  PROCESSEN GRID ************/

#process_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "process_heading"
        "process_tekst1"
        "process_paragraf1"
        "process_paragraf2"
        "footer"

}

#process_heading {
    grid-area: process_heading;
}


#process_tekst1 {
    grid-area: process_tekst1;

}



#process_paragraf1 {
    grid-area: process_paragraf1;
    max-width: 62ch;

}

#process_paragraf2 {
    grid-area: process_paragraf2;
    max-width: 62ch;

}


/* PROCESSEN GRID SLUT */


/*********** VI SKABER HJEM GRID**********/

#skaberhjem_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "skaberhjem_heading"
        "skaberhjem_tekst1"
        "skaberhjem_paragraf1"
        "skaberhjem_paragraf2"
        "footer"

}

#skaberhjem_heading {
    grid-area: skaberhjem_heading;
}


#skaberhjem_tekst1 {
    grid-area: skaberhjem_tekst1;

}



#skaberhjem_paragraf1 {
    grid-area: skaberhjem_paragraf1;


}

#skaberhjem_paragraf2 {
    grid-area: skaberhjem_paragraf2;


}

/* VI SKABER HJEM GRID SLUT */


/*********** STIFTEDE FORENINGER *************/


#stiftedeforeninger_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "stiftedeforeninger_heading"
        "stiftedeforeninger_tekst1"
        "stiftedeforeninger_paragraf1"
        "stiftedeforeninger_paragraf2"
        "footer"

}

#stiftedeforeninger_heading {
    grid-area: stiftedeforeninger_heading;
}


#stiftedeforeninger_tekst1 {
    grid-area: stiftedeforeninger_tekst1;

}



#stiftedeforeninger_paragraf1 {
    grid-area: stiftedeforeninger_paragraf1;


}

#stiftedeforeninger_paragraf2 {
    grid-area: stiftedeforeninger_paragraf2;


}


/* STIFTEDE FORENINGER SLUT */





/****************** MEDIA QUERIES **********************/

@media screen and (min-device-width: 768px) {

    /*GENERELLE INDSTILLINGER */
    #process_fullpage,
    #skaberhjem_fullpage,
    #stiftedeforeninger_fullpage h1 {
        font-size: 3rem;
        margin-bottom: 1vw;


    }

    #process_fullpage,
    #skaberhjem_fullpage,
    #stiftedeforeninger_fullpageh2 {
        font-size: 1.7rem;


    }

    p {
        font-size: 1rem;
    }



    #splash {
        height: 80vh;
    }

    #splash img {
        height: 80vh;
    }

    /*GENERELLE INDSTILLINGER SLUT*/


    /************  PROCESSEN GRID ************/

    #process_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash"
            "process_heading process_heading"
            "process_tekst1 process_tekst1"
            "process_paragraf1 process_paragraf2"

            "footer footer"

    }

    #process_heading {
        grid-area: process_heading;
    }


    #process_tekst1 {
        grid-area: process_tekst1;

    }



    #process_paragraf1 {
        grid-area: process_paragraf1;
        max-width: 62ch;

    }

    #process_paragraf2 {
        grid-area: process_paragraf2;
        max-width: 62ch;

    }

    /* PROCESSEN GRID SLUT */


    /*********** VI SKABER HJEM GRID**********/

    #skaberhjem_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash"
            "skaberhjem_heading skaberhjem_heading"
            "skaberhjem_tekst1 skaberhjem_tekst1"
            "skaberhjem_paragraf1 skaberhjem_paragraf2"
            "footer footer"

    }

    #skaberhjem_heading {
        grid-area: skaberhjem_heading;
    }


    #skaberhjem_tekst1 {
        grid-area: skaberhjem_tekst1;

    }



    #skaberhjem_paragraf1 {
        grid-area: skaberhjem_paragraf1;


    }

    #skaberhjem_paragraf2 {
        grid-area: skaberhjem_paragraf2;


    }

    /* VI SKABER HJEM GRID SLUT */


    /*********** STIFTEDE FORENINGER *************/


    #stiftedeforeninger_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash"
            "stiftedeforeninger_heading stiftedeforeninger_heading"
            "stiftedeforeninger_tekst1 stiftedeforeninger_tekst1"
            "stiftedeforeninger_paragraf1 stiftedeforeninger_paragraf2"
            "footer footer"

    }

    #stiftedeforeninger_heading {
        grid-area: stiftedeforeninger_heading;
    }


    #stiftedeforeninger_tekst1 {
        grid-area: stiftedeforeninger_tekst1;

    }



    #stiftedeforeninger_paragraf1 {
        grid-area: stiftedeforeninger_paragraf1;


    }

    #stiftedeforeninger_paragraf2 {
        grid-area: stiftedeforeninger_paragraf2;


    }


    /* STIFTEDE FORENINGER SLUT */






















    /********************* FOOTER Responsiv **********************/


    .padding {
        padding: 20px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        bottom: 0;
        color: white;
        background-color: #BED2D0;
        width: 100%;
        font-size: 1rem;
    }


    #opdate {
        flex-basis: 350px;
        flex-grow: 3;
        text-decoration: none;
        padding-left: 20px;
    }

    #opdate h4 {
        font-size: 1.2rem;
    }

    .nyhed_button {
        background-color: #FDF8ED;
        color: #375151;

        border: none;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 12px;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;

    }


    #opdate.fa {

        font-size: 50px;
        width: 30px;
        border-radius: 12px;
        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
        border-radius: 50%;
        padding: 20px;
        margin: 5px 2px;


    }

    .fa-instagram {
        background: #125688;
        color: white;
        border-radius: 50%;
        padding: 20px;
        margin: 5px 2px;

    }





    .menu_footer {
        flex-basis: 350px;
        flex-grow: 3;
        text-decoration: none;
    }

    .menu_footer a {
        text-decoration: none;
        color: white;
    }


    .kontakt {
        flex-basis: 350px;
        flex-grow: 3;
        text-decoration: none;
        line-height: 1.5rem;
    }


    .adresse {
        flex-grow: 3;
        text-align: center;
        background-color: #F8F8F8;
        color: #707070;
    }















    /* FOOTER SLUT */
