/* GENERELLE INDSTILLINGER */
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* LANDINGPAGE */

/* GRID MOBIL */





#landingpage_fullpage img {
    width: 100%;
    margin: 0;
    object-fit: cover;
    background-size: cover;
    height: 100vh;

}

#andenslide {
    display: grid;
    height: 15vh;
    grid-gap: 0px;
    grid-template-areas:
        "landing_overskrift2"
        "hvad"
        "hvor"
        "hvorfor"
}

#landing_overskrift2 {
    grid-area: landing_overskrift2;
}

#hvad {
    grid-area: hvad;
}

#hvor {
    grid-area: hvor;
}

#hvorfor {
    grid-area: hvorfor;
}


/* SLIDE 4 */
.boks {
    visibility: hidden;
}

/* SLIDE 4 SLUT */

/* GRID MOBIL SLUT */

/* SKRIFT MOBIL */

h1 {
    font-size: 2.5rem;
    color: #375151;
    font-weight: 500;
    font-family: Roboto;
    line-height: 40px;
    margin-bottom: 0;
}


h2 {
    font-size: 2rem;
    color: #375151;
    font-weight: 500;
    font-family: Roboto;
}

p {
    font-weight: 400;
    color: #375151;
    font-family: 'Quicksand', sans-serif;
}


#foersteslide,
#tredjeslide,
#femteslide,
p {
    font-size: 1.3rem;
    line-height: 25px;
}

#blivendelaf p {
    text-align: start;
    margin: 0px 0px 0px 13px;
    font-family: 'Quicksand', sans-serif;
}


#andenslide h2 {
    font-size: 1.4rem;
}

#andenslide p {
    font-size: 1rem;
    line-height: 20px;
}

#tredjeslide a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    color: white;
    background-color: #EFB047;
    padding: 14px 40px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 900;
    border: none;
}

#femteslide a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    color: white;
    background-color: #EFB047;
    padding: 14px 40px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    border: none;
}


a:hover {
    opacity: 80%;
}


/* SKRIFT MOBIL SLUT */


/* PLACERING AF INDHOLD */

#foersteslide,
#tredjeslide,
#fjerdeslide,
#femteslide {
    margin-top: -500px;
    text-align: center;
    padding: 0px 16px 0px 16px;

}

#andenslide {
    margin-top: -615px;
    color: #375151;
    padding: 0px 16px 0px 16px;
}


/* PLACERING AF INDHOLD SLUT */



/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {

    /* SKRIFT */
    h1 {
        font-size: 2.8rem;
        line-height: 40px;
    }

    #andenslide h2 {
        font-size: 2.2rem;
    }

    #andenslide p {
        font-size: 1.1rem;
        line-height: 22px;
    }



    #foersteslide,
    #tredjeslide,
    #femteslide,
    p {

        font-size: 1.4rem;
        line-height: 30px;
    }


    /* SKRIFT SLUT */

    /* PLACERING AF INDHOLD */

    #foersteslide,
    #tredjeslide,
    #femteslide,
    #fjerdeslide {
        margin-top: -700px;

    }

    #andenslide {
        margin-top: -850px;


    }

    .boks {
        visibility: hidden;
    }

    #blivendelaf p {
        margin: 10px 130px 0px 185px;

    }



    /* PLACERING AF INDHOLD SLUT */

}


@media only screen and (min-width: 1024px) {

    /* SKRIFT */



    h1 {
        font-size: 4rem;
        line-height: 70px;
        margin-bottom: 0;
    }


    /* PLACERING AF INDHOLD */
    #foersteslide,
    #tredjeslide,
    #femteslide {
        margin-top: -560px;
        padding: 0px 200px;
    }



    #andenslide,
    #fjerdeslide {
        margin-top: -550px;
    }



    #foreningerbokse {
        display: flex;
        align-items: center;
        margin: 0px 20px 0px 20px;

    }

    #foreningerbokse div {
        flex: 1;
    }

    .boks {
        visibility: visible;
        transition: transform .2s;
        padding: 40px;
        width: 300px;
        height: 350px;
        margin: 15px;
        text-align: center;
    }

    .boks:hover {
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari 3-8 */
        transform: scale(1.2);
    }



    #hvad,
    #hvor,
    #hvorfor {
        max-width: 15vw;
        padding: 0;
    }



    .boks {
        visibility: visible;
        background-color: rgba(239, 176, 71, 0.4);
        transition: transform .2s;
        padding: 30px;
        width: 250px;
        height: 325px;
        margin-right: 25px;

    }

    .boks:hover {
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari 3-8 */
        transform: scale(1.2);
    }

    /* PLACERING AF INDHOLD SLUT */
    /* GRID  */

    #andenslide {
        display: grid;
        grid-gap: 0px;
        grid-template-areas:
            "landing_overskrift2 hvad hvor hvorfor"

    }

    #fjerdeslide {
        display: grid;
        grid-template-areas:
            "blivendelaf foreningerbokse"
    }


    #foersteslide p {
        font-size: 2rem;
    }

    #fjerdeslide p {
        font-size: 1.4rem;
        line-height: 30px;
    }



    #andenslide h1 {
        font-size: 3.2rem;
        margin-left: 52px;
    }


    #fjerdeslide h1 {
        font-size: 3.2rem;
        margin-left: 52px;
    }

    #blivendelaf p {
        margin: 10px 4px 0px 72px;

    }


}

/* GRID  */




/* MEDIA QUERIES SLUT */
