body {
    margin: 0;
    padding: 0;


}


#splash img {
    width: 100%;
    height: 33vh;
    background-repeat: no-repeat;


}




img {
    width: 100%;
    margin: 0;
    object-fit: cover;

}



/* GENERELLE INDSTILLINER */


.padding {
    padding: 0px 20px 0px 20px;
}


h1 {
    font-size: 2rem;
    color: #375151;
    font-family: 'Roboto', sans-serif;
    margin-bottom: -1vw;

}

h2 {
    font-size: 1.6rem;
    color: #649087;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: -1vw;

}


h3 {
    font-size: 1rem;
    color: #375151;
    font-family: 'Roboto', sans-serif;
    margin-bottom: -1vw;

}

p {
    font-size: 1rem;
    color: #606060;
    font-family: 'Quicksand', sans-serif;
    line-height: 25px;
}



/* ALLE SPLASH BILLEDE */

/* ALLE SPLASH BILLEDE SLUT */

/* GENERELLE INDSTILLINER SLUT */


/* KONCEPT GRID */


#koncept_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
    margin-top: -1vw;
    grid-template-areas:

        "heading"
        "tekst1"
        "paragraf1"
        "paragraf2"
        "paragraf3"

}



#heading {
    grid-area: heading;
}


#tekst1 {
    grid-area: tekst1;

}



paragraf1 {
    grid-area: paragraf1;
    /*    max-width: 62ch;*/

}

paragraf2 {
    grid-area: paragraf2;
    /*    max-width: 62ch;*/

}

paragraf3 {
    grid-area: paragraf3;

}

footer {
    grid-area: footer;
}





/* KONCEPT GRID SLUT */

/* GIVER MENING GRID */

#givermening_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
    margin-top: -1vw;
    grid-template-areas:
        "givermening_heading"
        "givermening_tekst1"
        "givermening_paragraf1"
        "givermening_paragraf2"
        "givermening_tekst2"

}


#givermening_heading {
    grid-area: givermening_heading;
}

#givermening_tekst1 {
    grid-area: givermening_tekst1;

}


#givermening_paragraf1 {
    grid-area: givermening_paragraf1;



}

#givermening_paragraf2 {
    grid-area: givermening_paragraf2;

}

#givermening_tekst2 {
    grid-area: givermening_tekst2;

}


/* GIVER MENING GRID SLUT */


/* DET SIGER VORES FAMILIER GRID */






/* DET SIGER VORES FAMILIER GRID SLUT */


/* FORDELE VED AT KØBE EN ANDEL GRID */







/* FORDELE VED AT KØBE EN ANDEL GRID SLUT */




/* HVORDAN KOMMER VI MED GRID  */

#kommermed_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
    margin-top: -1vw;
    grid-template-areas:

        "kommermed_heading"
        "kommermed_tekst1"
        "kommermed_paragraf1"
        "kommermed_paragraf2"
        "kommermed_tekst2"

}


#kommermed_heading {
    grid-area: kommermed_heading;
}

#kommermed_tekst1 {
    grid-area: kommermed_tekst1;
}

#kommermed_paragraf1 {
    grid-area: kommermed_paragraf1;
}

#kommermed_paragraf2 {
    grid-area: kommermed_paragraf2;
}

#kommermed_tekst2 {
    grid-area: kommermed_tekst2;
}

/* HVORDAN KOMMER VI MED GRID SLUT */



/* BOOKINGSYSTEMET */


#bookingsystemet_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
    margin-top: -1vw;
    grid-template-areas:

        "bookingsystemet_heading"
        "bookingsystemet_tekst1"
        "bookingsystemet_paragraf1"
        "bookingsystemet_paragraf2"
        "bookingsystemet_paragraf3"
        "bookingsystemet_paragraf4"
        "bookingsystemet_tekst2"
        "bookingsystemet_paragraf5"
        "paragraf_img1"
        "bookingsystemet_paragraf6"
        "paragraf_img2"

}


#bookingsystemet_heading {
    grid-area: bookingsystemet_heading;
}

#bookingsystemet_tekst1 {
    grid-area: bookingsystemet_tekst1;
}

#bookingsystemet_paragraf1 {
    grid-area: bookingsystemet_paragraf1;
}

#bookingsystemet_paragraf2 {
    grid-area: bookingsystemet_paragraf2;
}

#bookingsystemet_paragraf3 {
    grid-area: bookingsystemet_paragraf3;
}

#bookingsystemet_paragraf4 {
    grid-area: bookingsystemet_paragraf4;
}

#bookingsystemet_tekst2 {
    grid-area: bookingsystemet_tekst2;
}


#bookingsystemet_paragraf5 {
    grid-area: bookingsystemet_paragraf5;
}

#bookingsystemet_paragraf6 {
    grid-area: bookingsystemet_paragraf6;
}

#paragraf_img1 {
    grid-area: paragraf_img1;
}

#paragraf_img2 {
    grid-area: paragraf_img2;
}



/* BOOKINGSYSTEMET SLUT */



/* UDLEJNING BLANDT MEDLEMMER */



#udlejning_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
    margin-top: -1vw;
    grid-template-areas:

        "udlejning_heading"
        "udlejning_paragraf1"
        "udlejning_paragraf2"
}

#udlejning_heading {
    grid-area: udlejning_heading;
}

#udlejning_paragraf1 {
    grid-area: udlejning_paragraf1;
}

#udlejning_paragraf2 {
    grid-area: udlejning_paragraf2;
}






/* UDLEJNING BLANDT MEDLEMMER SLUT */

/* PROCESSEN GRID */

#process_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
    margin-top: -1vw;
    grid-template-areas:

        "process_heading"
        "process_tekst1"
        "process_paragraf1"
        "process_paragraf2"

}

#process_heading {
    grid-area: process_heading;
}


#process_tekst1 {
    grid-area: process_tekst1;

}



#process_paragraf1 {
    grid-area: process_paragraf1;


}

#process_paragraf2 {
    grid-area: process_paragraf2;


}

/* PROCESSEN GRID SLUT */


/* VI SKABER HJEM GRID */

#skaberhjem_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
    margin-top: -1vw;
    grid-template-areas:

        "skaberhjem_heading"
        "skaberhjem_tekst1"
        "skaberhjem_paragraf1"
        "skaberhjem_paragraf2"


}

#skaberhjem_heading {
    grid-area: skaberhjem_heading;
}


#skaberhjem_tekst1 {
    grid-area: skaberhjem_tekst1;

}



#skaberhjem_paragraf1 {
    grid-area: skaberhjem_paragraf1;


}

#skaberhjem_paragraf2 {
    grid-area: skaberhjem_paragraf2;


}

/* VI SKABER HJEM GRID SLUT */

/* STIFTEDE FORENINGER */


#stiftedeforeninger_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
    margin-top: -1vw;
    grid-template-areas:

        "stiftedeforeninger_heading"
        "stiftedeforeninger_tekst1"
        "stiftedeforeninger_paragraf1"
        "stiftedeforeninger_paragraf2"

}

#stiftedeforeninger_heading {
    grid-area: stiftedeforeninger_heading;
}


#stiftedeforeninger_tekst1 {
    grid-area: stiftedeforeninger_tekst1;

}



#stiftedeforeninger_paragraf1 {
    grid-area: stiftedeforeninger_paragraf1;


}

#stiftedeforeninger_paragraf2 {
    grid-area: stiftedeforeninger_paragraf2;


}



/* STIFTEDE FORENINGER SLUT */



/* DESTINATION */





/* DESTINATION SLUT */

/* MALLORCA */
#mallorca_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "mallorca_heading"
        "mallorca_tekst1"
        "mallorca_paragraf1"
        "mallorca_paragraf2"
        "footer"
}

#mallorca_heading {
    grid-area: mallorca_heading;
}

#mallorca_tekst1 {
    grid-area: mallorca_tekst1;
}

#mallorca_paragraf1 {
    grid-area: mallorca_paragraf1;
}

#mallorca_paragraf2 {
    grid-area: mallorca_paragraf2;
}




/* MALLORCA SLUT */

/* TILGÆNGELIGE FORENINGER */

#foreninger_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "foreninger_heading"
        "foreninger_tekst1"
        "foreninger_paragraf1"
        "foreninger_paragraf2"
        "foreninger_paragraf3"
        "footer"
}



#foreninger_heading {
    grid-area: foreninger_heading;
}

#foreninger_tekst1 {
    grid-area: foreninger_tekst1;
}

#foreninger_paragraf2 {
    grid-area: foreninger_paragraf2;
}

#foreninger_paragraf3 {
    grid-area: foreninger_paragraf3;
}


/* TILGÆNGELIGE FORENINGER SLUT */


/* DK39 FAMILY GRID */


#dk39_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "dk39_heading1"
        "dk39_tekst1"
        "dk39_paragraf1"
        "dk39_paragraf2"
        "dk39_paragraf3"
        "dk39_paragraf4"
        "dk39_heading2"
        "dk39_heading3"
        "footer"
}


#dk39_heading1 {
    grid-area: dk39_heading1;
}

#dk39_tekst1 {
    grid-area: dk39_tekst1;
}


#dk39_paragraf1 {
    grid-area: dk39_paragraf1;
}

#dk39_paragraf2 {
    grid-area: dk39_paragraf2;
}

#dk39_paragraf3 {
    grid-area: dk39_paragraf3;
}

#dk39_paragraf4 {
    grid-area: dk39_paragraf4;
}

#dk39_heading2 {
    grid-area: dk39_heading2;
}

dk39_heading3 {
    grid-area: dk39_heading3;
}



/* DK39 FAMILY GRID SLUT */

/* DK38 LARGE GRID  */


#dk38_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "dk38_heading1"
        "dk38_tekst1"
        "dk38_paragraf1"
        "dk38_paragraf2"
        "dk38_paragraf3"
        "dk38_paragraf4"
        "dk38_heading2"
        "dk38_heading3"
        "footer"
}


#dk38_heading1 {
    grid-area: dk38_heading1;
}

#dk38_tekst1 {
    grid-area: dk38_tekst1;
}


#dk38_paragraf1 {
    grid-area: dk38_paragraf1;
}

#dk38_paragraf2 {
    grid-area: dk38_paragraf2;
}

#dk38_paragraf3 {
    grid-area: dk38_paragraf3;
}

#dk38_paragraf4 {
    grid-area: dk38_paragraf4;
}

#dk38_heading2 {
    grid-area: dk38_heading2;
}

dk38_heading3 {
    grid-area: dk38_heading3;
}



/* DK38 LARGE GRID SLUT */


/* DK36 GRANDE GRID */

#dk36_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "dk36_heading1"
        "dk36_tekst1"
        "dk36_paragraf1"
        "dk36_paragraf2"
        "dk36_paragraf3"
        "dk36_paragraf4"
        "dk36_heading2"
        "dk36_heading3"
        "footer"
}


#dk36_heading1 {
    grid-area: dk36_heading1;
}

#dk36_tekst1 {
    grid-area: dk36_tekst1;
}


#dk36_paragraf1 {
    grid-area: dk36_paragraf1;
}

#dk36_paragraf2 {
    grid-area: dk36_paragraf2;
}

#dk36_paragraf3 {
    grid-area: dk36_paragraf3;
}

#dk36_paragraf4 {
    grid-area: dk36_paragraf4;
}

#dk36_heading2 {
    grid-area: dk36_heading2;
}

dk36_heading3 {
    grid-area: dk36_heading3;
}


/* LEDIE ANDELE */



/* LEDIE ANDELE SLUT*/



/* DK36 GRANDE GRID SLUT */


/* PRAKTISK INFORMATION */



#information_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "information_heading"
        "information_tekst1"
        "information_paragraf1"
        "information_paragraf2"
        "footer"
}


#information_heading {
    grid-area: information_heading;
}


#information_tekst1 {
    grid-area: information_tekst1;
}

#information_paragraf1 {
    grid-area: information_paragraf1;
}

#information_paragraf2 {
    grid-area: information_paragraf2;
}


/* PRAKTISK INFORMATION SLUT */

/* JOB I 21-5 */


#job_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "job_heading"
        "job_paragraf1"
        "job_paragraf2"
        "footer"
}

#job_heading {
    grid-area: job_heading;
}

#job_paragraf1 {
    grid-area: job_paragraf1;
}

#job_paragraf2 {
    grid-area: job_paragraf2;
}

footer {
    grid-area: footer;
}

/* JOB I 21-5 SLUT*/

/* KONTAKT */

#kontakt_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "kontakt_heading"
        "kontakt_paragraf1"
        "footer"
}

#kontakt_heading {
    grid-area: kontakt_heading;
}

#kontakt_paragraf1 {
    grid-area: kontakt_paragraf1;
}

footer {
    grid-area: footer;
}


/* KONTAKT SLUT*/





/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {

    /*GENERELLE INDSTILLINGER */

    .padding {
        padding: 0px 0px 0px 0px;
    }


    h1 {
        font-size: 3rem;
        /*     margin-left: 40px;*/
    }

    h2 {
        font-size: 2.6;

    }


    /* SPLASH */



    #splash img {
        height: 70vh;
    }

    /* SPLASH SLUT */


    /*GENERELLE INDSTILLINGER SLUT*/
    /* KONCEPT GRID */

    #koncept_fullpage {
        display: grid;
        padding: 10px;
        grid-template-columns: 225px 225px 225px;
        justify-content: center;
        grid-template-areas:


            "heading heading heading"
            "tekst1 tekst1 tekst1"
            "paragraf1 paragraf2 paragraf3"
    }

    /* KONCEPT GRID SLUT */
    /* GIVER MENING GRID */

    #givermening_fullpage {
        display: grid;
        grid-template-columns: 350px 350px;
        justify-content: center;
        grid-template-areas:
            "givermening_heading givermening_heading"
            "givermening_tekst1 givermening_tekst1"
            "givermening_paragraf1 givermening_paragraf2"
            "givermening_tekst2 givermening_tekst2";
    }



    /* GIVER MENING GRID SLUT */


    /* FORDELE VED AT KØBE EN ANDEL GRID */


    /* FORDELE VED AT KØBE EN ANDEL GRID SLUT */

    /* HVORDAN KOMMER VI MED GRID */

    #kommermed_fullpage {
        display: grid;
        grid-template-columns: 350px 350px;
        justify-content: center;
        grid-template-areas:

            "splash splash"
            "kommermed_heading kommermed_heading"
            "kommermed_tekst1 kommermed_tekst1"
            "kommermed_paragraf1 kommermed_paragraf2"
            "kommermed_tekst2 kommermed_tekst2"
            "footer footer"

    }




    /* HVORDAN KOMMER VI MED GRID SLUT */




    /* BOOKINGSYSTEMET */

    #bookingsystemet_fullpage {
        display: grid;
        grid-template-columns: 350px 350px;
        justify-content: center;
        grid-template-areas:

            "bookingsystemet_heading bookingsystemet_heading"
            "bookingsystemet_tekst1 bookingsystemet_tekst1"
            "bookingsystemet_paragraf1 bookingsystemet_paragraf2"
            "bookingsystemet_paragraf3 bookingsystemet_paragraf4"
            "bookingsystemet_tekst2 bookingsystemet_tekst2"
            "paragraf_img1 bookingsystemet_paragraf5"
            "bookingsystemet_paragraf6 paragraf_img2"

    }


    /* BOOKINGSYSTEMET SLUT */



    /* UDLEJNING BLANDT MEDLEMMER */

    #udlejning_fullpage {
        display: grid;
        height: 60vh;
        grid-template-columns: 350px 350px;
        justify-content: center;
        grid-template-areas:

            "udlejning_heading udlejning_heading"
            "udlejning_paragraf1 udlejning_paragraf2"
    }



    /* UDLEJNING BLANDT MEDLEMMER SLUT */


    /* PROCESSEN GRID */

    #process_fullpage {
        display: grid;
        height: 60vh;
        grid-template-columns: 350px 350px;
        justify-content: center;
        grid-template-areas:

            "process_heading process_heading"
            "process_tekst1 process_tekst1"
            "process_paragraf1 process_paragraf2"

    }


    /* PROCESSEN GRID SLUT */


    /* VI SKABER HJEM GRID */

    #skaberhjem_fullpage {
        display: grid;
        height: 60vh;
        grid-template-columns: 350px 350px;
        justify-content: center;
        grid-template-areas:

            "skaberhjem_heading skaberhjem_heading"
            "skaberhjem_tekst1 skaberhjem_tekst1"
            "skaberhjem_paragraf1 skaberhjem_paragraf2"


    }

    /* VI SKABER HJEM GRID SLUT */

    /* STIFTEDE FORENINGER */


    #stiftedeforeninger_fullpage {
        display: grid;
        height: 45vh;
        grid-template-columns: 350px 350px;
        justify-content: center;
        grid-template-areas:

            "stiftedeforeninger_heading stiftedeforeninger_heading"
            "stiftedeforeninger_tekst1 stiftedeforeninger_tekst1"
            "stiftedeforeninger_paragraf1 stiftedeforeninger_paragraf2"

    }

    /* STIFTEDE FORENINGER SLUT */

    /* DESTINATION */




    /* DESTINATION SLUT */


    /* MALLORCA */
    #mallorca_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash"
            "mallorca_heading mallorca_heading"
            "mallorca_tekst1 mallorca_tekst1"
            "mallorca_paragraf1 mallorca_paragraf2"
            "footer footer"
    }


    /* MALLORCA SLUT */

    /* TILGÆNGELIGE FORENINGER */

    #foreninger_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash splash"
            "foreninger_heading foreninger_heading foreninger_heading"
            "foreninger_tekst1 foreninger_tekst1 foreninger_tekst1"
            "foreninger_paragraf1 foreninger_paragraf2 foreninger_paragraf3"
            "footer footer footer"
    }




    /* TILGÆNGELIGE FORENINGER SLUT */


    /* DK39 FAMILY, DK38 LARGE, DK36 GRANDE */


    #dk39_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash"
            "dk39_heading1 dk39_heading1"
            "dk39_tekst1 dk39_tekst1"
            "dk39_paragraf1 dk39_paragraf2"
            "dk39_paragraf3 dk39_paragraf4"
            "dk39_heading2 dk39_heading2"
            "dk39_heading3 dk39_heading3"
            "footer footer"
    }



    #dk38_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash"
            "dk38_heading1 dk38_heading1"
            "dk38_tekst1 dk38_tekst1"
            "dk38_paragraf1 dk38_paragraf2"
            "dk38_paragraf3 dk38_paragraf4"
            "dk38_heading2 dk38_heading2"
            "dk38_heading3 dk38_heading3"
            "footer footer"
    }



    #dk36_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash"
            "dk36_heading1 dk36_heading1"
            "dk36_tekst1 dk36_tekst1"
            "dk36_paragraf1 dk36_paragraf2"
            "dk36_paragraf3 dk36_paragraf4"
            "dk36_heading2 dk36_heading2"
            "dk36_heading3 dk36_heading3"
            "footer footer"
    }


    /* DK39 FAMILY, DK38 LARGE, DK36 GRANDE SLUT */

    /* PRAKTISK INFORMATION */

    #information_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash"
            "information_heading information_heading"
            "information_tekst1 information_tekst1"
            "information_paragraf1 information_paragraf2"
            "footer footer"
    }

    /* PRAKTISK INFORMATION SLUT */

    /* JOB I 21-5 */

    #job_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash"
            "job_heading job_heading"
            "job_paragraf1 job_paragraf2"
            "footer footer"
    }

    /* JOB I 21-5 SLUT */

}






@media only screen and (min-width: 1024px) {

    /* KONCEPT GRID  */

    #koncept_fullpage {
        display: grid;
        grid-template-columns: 325px 325px 325px;
        justify-content: center;
        grid-template-areas:


            "heading heading heading"
            "tekst1 tekst1 tekst1"
            "paragraf1 paragraf2 paragraf3";


    }


    /* KONCEPT GRID SLUT */

    /* GIVER MENING GRID */

    #givermening_fullpage {
        display: grid;
        grid-template-columns: 500px 500px;
        justify-content: center;
        grid-template-areas:
            "givermening_heading givermening_heading"
            "givermening_tekst1 givermening_tekst1"
            "givermening_paragraf1 givermening_paragraf2"
            "givermening_tekst2 givermening_tekst2";
    }

    /* GIVER MENING GRID SLUT */


    /* FORDELE VED AT KØBE EN ANDEL GRID */


    /* FORDELE VED AT KØBE EN ANDEL GRID SLUT */


    /* HVORDAN KOMMER VI MED GRID */


    #kommermed_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-columns: 500px 500px;
        justify-content: center;
        grid-template-areas:

            "splash splash"
            "kommermed_heading kommermed_heading"
            "kommermed_tekst1 kommermed_tekst1"
            "kommermed_paragraf1 kommermed_paragraf2"
            "kommermed_tekst2 kommermed_tekst2"
            "footer footer"

    }

    /* HVORDAN KOMMER VI MED GRID SLUT */

    /* BOOKINGSYSTEMET */

    #bookingsystemet_fullpage {
        display: grid;
        grid-template-columns: 500px 500px;
        justify-content: center;
        grid-template-areas:

            "bookingsystemet_heading bookingsystemet_heading"
            "bookingsystemet_tekst1 bookingsystemet_tekst1"
            "bookingsystemet_paragraf1 bookingsystemet_paragraf2"
            "bookingsystemet_paragraf3 bookingsystemet_paragraf4"
            "bookingsystemet_tekst2 bookingsystemet_tekst2"
            "paragraf_img1 bookingsystemet_paragraf5"
            "bookingsystemet_paragraf6 paragraf_img2"

    }


    /* BOOKINGSYSTEMET SLUT */

    /* UDLEJNING BLANDT MEDLEMMER */

    #udlejning_fullpage {
        display: grid;
        height: 55vh;
        grid-template-columns: 500px 500px;
        justify-content: center;
        grid-template-areas:

            "udlejning_heading udlejning_heading"
            "udlejning_paragraf1 udlejning_paragraf2"
    }



    /* UDLEJNING BLANDT MEDLEMMER SLUT */

    /* PROCESSEN GRID */

    #process_fullpage {
        display: grid;
        height: 55vh;
        grid-template-columns: 500px 500px;
        justify-content: center;
        grid-template-areas:
            "process_heading process_heading"
            "process_tekst1 process_tekst1"
            "process_paragraf1 process_paragraf2"

    }

    /* PROCESSEN GRID SLUT */



    /* VI SKABER HJEM GRID */

    #skaberhjem_fullpage {
        display: grid;
        height: 60vh;
        grid-template-columns: 500px 500px;
        justify-content: center;
        grid-template-areas:

            "skaberhjem_heading skaberhjem_heading"
            "skaberhjem_tekst1 skaberhjem_tekst1"
            "skaberhjem_paragraf1 skaberhjem_paragraf2"


    }

    /* VI SKABER HJEM GRID SLUT */


    /* STIFTEDE FORENINGER */


    #stiftedeforeninger_fullpage {
        display: grid;
        height: 50vh;
        grid-template-columns: 500px 500px;
        justify-content: center;
        grid-template-areas:

            "stiftedeforeninger_heading stiftedeforeninger_heading"
            "stiftedeforeninger_tekst1 stiftedeforeninger_tekst1"
            "stiftedeforeninger_paragraf1 stiftedeforeninger_paragraf2"

    }

    /* STIFTEDE FORENINGER SLUT */

}




/* MEDIA QUERIES SLUT */
