body {
    margin: 0;

}




img {
    width: 100%;
    margin: 0;
    object-fit: cover;

}



/* GENERELLE INDSTILLINER */


#koncept_fullpage,
#givermening_fullpage,
#voresfamilier_fullpage h1 {
    font-size: 2rem;
    color: #375151;
    margin-bottom: 1vw;

}

#koncept_fullpage,
#givermening_fullpage,
#voresfamilier_fullpage h2 {
    font-size: 1.4rem;
    color: #375151;

}

p {
    font-size: 0.8rem;
    color: #414141;

}



/* GENERELLE INDSTILLINER SLUT */



/* KONCEPT GRID */


#koncept_fullpage {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "heading"
        "tekst1"
        "paragraf1"
        "paragraf2"
        "paragraf3"
        "footer"

}

#splash {
    width: 100%;
    height: 33vh;
    background-image: url(sky.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: splash;

}

#heading {
    grid-area: heading;
}


#tekst1 {
    grid-area: tekst1;

}



paragraf1 {
    grid-area: paragraf1;
    max-width: 62ch;

}

paragraf2 {
    grid-area: paragraf2;
    max-width: 62ch;

}

paragraf3 {
    grid-area: paragraf3;

}

footer {
    grid-area: footer;
}


/* PADDING I SIDEN VED MOBIL */

#heading,
#tekst1,
#paragraf1,
#paragraf2,
#paragraf3,
#givermening_heading,
#givermening_tekst1,
#givermening_paragraf1,
#givermening_paragraf2,
#givermening_tekst2,
#voresfamilier_heading {
    margin: 0px 20px 0px 20px;
}

#paragraf1,
#paragraf2,
#paragraf3 {
    padding-bottom: 40px;
}

/* PADDING I SIDEN VED MOBIL SLUT */


/* KONCEPT GRID SLUT */

/* GIVER MENING GRID */

#givermening {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "givermening_heading"
        "givermening_tekst1"
        "givermening_paragraf1"
        "givermening_paragraf2"
        "givermening_tekst2"
        "footer"

}


#givermening_heading {
    grid-area: givermening_heading;
}

#givermening_tekst1 {
    grid-area: givermening_tekst1;

}


#givermening_paragraf1 {
    grid-area: givermening_paragraf1;
    max-width: 62ch;


}

#givermening_paragraf2 {
    grid-area: givermening_paragraf2;
    max-width: 62ch;
}

#givermening_tekst2 {
    grid-area: givermening_tekst2;
    padding-bottom: 40px;
}


/* GIVER MENING GRID SLUT */


/* DET SIGER VORES FAMILIER GRID */


#givermening {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:

        "splash"
        "voresfamilier_heading"
        "footer"

}


#voresfamilier_heading {
    grid-area: voresfamilier_heading
}




/* DET SIGER VORES FAMILIER GRID SLUT */




/* MEDIA QUERIES */

@media screen and (min-device-width: 768px) {

    /*GENERELLE INDSTILLINGER */
    #koncept_fullpage h1 {
        font-size: 3rem;
        margin-bottom: 1vw;

    }

    #koncept_fullpage h2 {
        font-size: 1.7rem;

    }

    p {
        font-size: 1rem;
    }

    /*GENERELLE INDSTILLINGER SLUT*/

    /* KONCEPT GRID */

    #koncept_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash splash"
            "heading heading heading"
            "tekst1 tekst1 tekst1"
            "paragraf1 paragraf2 paragraf3"
            "footer footer footer"

    }

    #splash {
        height: 80vh;
    }

    #splash img {
        height: 80vh;
    }

    #heading,
    #tekst1,
    #givermening_heading,
    #givermening_tekst1,
    #givermening_tekst2 {
        margin: 0px 60px 0px 60px;
    }

    #paragraf1,
    #givermening_paragraf1 {
        margin-left: 60px;

    }

    #paragraf2 {
        padding: 0px 20px 0px 20px;
    }

    #paragraf3,
    #givermening_paragraf2 {
        margin-right: 60px;

    }

    /* KONCEPT GRID SLUT */

    /* GIVER MENING GRID */
    #givermening_fullpage {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas:

            "splash splash"
            "givermening_heading givermening_heading"
            "givermening_tekst1 givermening_tekst1"
            "givermening_paragraf1 givermening_paragraf2"
            "givermening_tekst2 givermening_tekst2"
            "footer footer"

    }

    #givermening_tekst2 {
        padding-bottom: 60px;
    }

    /* GIVER MENING GRID SLUT */
}

/* MEDIA QUERIES SLUT */
