/* Nav CSS starter her */

/****** BURGER MENU STYLE *******/
header {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}


.multi_level,
.item ul,
.nav input[type="checkbox"] {
    display: none;
}


#menu:checked ~ .multi_level,
.item input:checked ~ ul {
    display: block;
}


.logo #logo_menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3em;
    width: 10%;
}



/*** Arrow - her bliver de små pile stylet ***/

.icon {
    width: 7px;
    height: 7px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 17px 1em 0 2em;
    color: #375151;
}

/* her kommer der en animation på pilen */
.item input + .icon {
    transform: rotate(-90deg);
    transition: 0.1s;
}

.item input:checked + .icon {
    transform: rotate(0deg);
    transition: 0.1s;
}


label:hover {
    cursor: pointer;
}

label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}


.nav {
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    border-bottom: 2px solid #EFB047;

}


#nav_icon {
    font-size: 28px;
    line-height: 50px;
    padding-left: 1em;
    color: #EFB047;
    background-color: transparent;
}

/* her bliver alle overskrifterne stylet */
.nav ul,
.nav li,
label {
    line-height: 50px;
    margin: 0;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color: #375151;
    font-weight: 100;
    width: 100%;

}


.item ul {
    padding: 0 1.2em;

}


.nav li a {
    line-height: 50px;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #649087;
    font-weight: 100;

}


@media only screen and (min-width: 1024px) {


    label:hover {
        cursor: pointer;
    }

    label {
        width: 100%;
        display: block;
        z-index: 3;
        position: relative;
    }


    .nav {
        width: 100%;
        background-color: white;
        overflow-x: hidden;
        border-bottom: 2px solid #EFB047;

    }


    #nav_icon {
        font-size: 28px;
        line-height: 50px;
        padding-left: 1em;
        color: #EFB047;
        background-color: transparent;
    }

    /* her bliver alle overskrifterne stylet */
    .nav ul,
    .nav li,
    label {
        line-height: 50px;
        margin: 0;
        padding: 0 2em;
        list-style: none;
        text-decoration: none;
        color: #375151;
        font-weight: 100;
        width: 100%;

    }


    .item ul {
        padding: 0 1.2em;

    }


    .nav li a {
        line-height: 50px;
        margin: 0;
        list-style: none;
        text-decoration: none;
        color: #649087;
        font-weight: 100;

    }




}
