/* Nav CSS starter her */

/****** BURGER MENU STYLE *******/
header {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}



/* menu checkbox betyder at den får effekten af at kunne blive foldet ud via den lille pil */

.multi_level,
.item ul,
.nav input[type="checkbox"] {
    display: none;
}

#menu:checked ~ .multi_level,
.item input:checked ~ ul {
    display: block;
}



/* her styles logoet */
.logo_menu #logo {
    display: block;
    margin-left: 14em;
    margin-top: -3em;

}



/*** ARROW- her bliver de små pile stylet ***/

.icon {
    width: 7px;
    height: 7px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 27px 1em 0 2em;
    color: #375151;
}

/* her kommer der en animation på pilen */
.item input + .icon {
    transform: rotate(-90deg);
    transition: 0.1s;
}

.item input:checked + .icon {
    transform: rotate(0deg);
    transition: 0.1s;
}


/* Label er det tag alle vores overskrifter er sat ind i, for at de kan blive stående og foldes ud - inholdet af li og a findes ikke inde i disse, det skal styles for sig */
label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}


.nav {
    width: 100%;
    background-color: white;
    overflow-x: hidden;

}


#nav_icon {
    font-size: 28px;
    line-height: 50px;
    padding-left: 1em;
    color: #EFB047;
}

/* her bliver alle overskrifterne stylet */
.multi_level ul,
.multi_level li,
label {
    line-height: 60px;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #375151;
    font-weight: 100;
    width: 100%;
    font-size: 1.4rem;

}


.item ul {
    padding: 0 1.2em;

}


.multi_level li a {
    line-height: 50px;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #649087;
    font-weight: 100;
}


@media only screen and (min-width: 1024px) {


    header {
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Quicksand', sans-serif;
        position: absolute;
        top: 0;
        background-color: rgba(240, 240, 240, 0.50);
    }


    #menu:checked ~ .multi_level,
    .item input:checked ~ ul {
        display: block;
    }



    .logo_menu #logo {
        display: block;
        margin-left: 1.6em;
        margin-top: 0;

    }



    /*** Arrow - her bliver de små pile stylet ***/

    .icon {
        width: 7px;
        height: 7px;
        vertical-align: middle;
        float: left;
        margin: 22px 1em 0 2em;
        color: #375151;
    }

    /* her kommer der en animation på pilen */
    .item input + .icon {
        transform: rotate(-90deg);
        transition: 0.1s;
    }

    .item input:checked + .icon {
        transform: rotate(0deg);
        transition: 0.1s;
    }

    /* Label er det tag alle vores overskrifter er sat ind i, for at de kan blive stående og foldes ud - inholdet af li og a findes ikke inde i disse, det skal styles for sig */
    label:hover {
        cursor: pointer;
        color: #EFB047;
    }


    .multi_level a:hover {
        cursor: pointer;
        color: #EFB047;
    }



    .item ul {
        padding: 0 1.2em;

    }

    .nav {
        width: 1100px;
        background-color: rgba(240, 240, 240, 0.50);
        overflow-x: hidden;
    }


    #nav_icon {
        display: none;
    }

    /****** her bliver alle tekster stylet ******/

    /* her bliver undermenu punkterne stylet */
    .multi_level li a {
        line-height: 35px;
        margin: 0;
        list-style: none;
        text-decoration: none;
        color: #649087;
        font-size: 16px;
    }

    /* her styles oversrifterne */
    label {
        line-height: 50px;
        margin: 0;
        list-style: none;
        text-decoration: none;
        color: #375151;
        font-size: 18px;
    }

    /* her sætter vi undermenuen i grid */
    .multi_level {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
        padding
    }


}
